.navbar {
    background: #eeeeee;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
}

/* .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
} */

.navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 90%; /* previously 100% with navbar__container */
    max-width: 1300px;
}

.navbar__links {
    color: #000;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar__links:hover {
    color: #bc89ff;
}

.navbar__links:active {
    color: #a35cff;
}

.navbardist__links {
    color: #000;
    text-decoration: none;
    transition: all 0.3s;
}

.navbardist__links:hover {
    color: #ffffff;
}

.navbardist__links:active {
    color: #ffffff;
}