/* general */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

.no-scroll-centralise {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* 80px = size of navbar */
}

.margin-top-centralise {
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    text-align: center;
}

.inline-link {
    text-decoration: none;
    color: #bc89ff;
    transition: all 0.3s;
}

.inline-link:hover {
    color: #a35cff;
}

.inline-link:active {
    color: #fff;
    background-color: #a35cff;
}

/* navbar */

.navbar {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    list-style-type: none;
    position: sticky;
    padding: 0 70px;
}

.navbar__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000;
    transition: all 0.3s;
}

.navbar__link:hover {
    color: #bc89ff;
}

.navbar__link:active {
    color: #a35cff;
}

/* homepage */

.homepage-content {
    text-align: center;
}

.homepage-content h1 {
    font-size: 2rem;
    margin-bottom: 8px;
}

.homepage-content h2 {
    font-size: 1rem;
    margin-bottom: 20px;
}

.homepage__btn {
    border: none;
    margin: 0 20px;
    margin-bottom: 10px;
    width: 240px;
    border-radius: 10px;
    background: #eeeeee;
    transition: all 0.3s;
}

.homepage__btn a {
    padding: 15px 15px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    height: 100%;
    width: 100%;
}

.homepage__btn:hover {
    background: #bc89ff;
}

.homepage__btn:active {
    background: #a35cff;
}

.homepage__btn a:hover {
    color: #fff;
}

/* contact */

.contact-content {
    text-align: center;
}

.contact-emails {
    margin-top: 20px;
}

/* distributions overview */

.distributions-introduction {
    text-align: justify;
    width: 75%;
    margin: 30px auto;
}

.distributions-introduction p {
    margin-bottom: 20px;
}

.dist-type {
    text-align: center;
    margin-bottom: 60px;
    width: 80%;
    margin: auto;
}

.dist-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
}

.dist-link {
    margin: 10px 10px;
    text-decoration: none;
}

.dist-cards__card {
    display: grid;
    grid-template-rows: 190px 1fr;
    height: 250px;
    width: 200px;
    text-align: center;
    background-color: #bc89ff;
    border-radius: 10px;
    transition: all 0.2s;
}

.dist-cards__card:hover {
    box-shadow: 0px 0px 15px 1px #cbcbcb;
    transform: scale(1.03);
}

.dist-card-image {
    height: 180px;
    width: 180px;
    margin-top: 10px;
    border-radius: 8px;
}

.dist-card-name {
    width: 100%;
    margin: auto;
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.2s;
}

.dist-cards__card:hover > .dist-card-name { color: #fff; }

/* single distribution */

.dist-description {
    text-align: justify;
    width: 75%;
    margin: 30px auto;
}

.dist-description p {
    margin-bottom: 20px;
}

.dist-description ul {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

.graph {
    width: 75%;
    margin: auto;
    height: 500px;
    margin-bottom: 60px;
}

/* quiz */

.quiz-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px rgba(100, 100, 100, 0.1);
    width: 600px;
    overflow: hidden;
    margin: 0 60px;
}

.quiz-header {
    padding: 2rem;
}

.question {
    padding: 2rem;
    text-align: center;
    margin: 0;
}

.answer-list {
    list-style-type: none;
    padding: 0 4rem;
}

.answer-list li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.answer-list li label {
    cursor: pointer;
}

.quiz_btn {
    background-color: #bc89ff;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 100%;
    display: block;
    font-size: 1.1rem;
    padding: 1.3rem;
    transition: all 0.3s;
}

.quiz_btn:hover {
    background-color: #a35cff;
}